* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Oswald', Arial, sans-serif;
    display: grid;
    grid-template-columns: 18% repeat(2, 28%) 26%;
    grid-template-rows: 10vh 100% 10vh;
    height: 100%;
    background-color: #E8E8E8;
}

header {
    grid-column-start: 1;
    grid-column-end: 5;
    background: #d65f51;
    font-size: 2vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    padding: 0.5% 2%;
}

.header p {
    margin-left: 25px;
}

nav>ul {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding: 8% 5%;
    justify-content: center;
}

.nav-li {
    list-style: none;
    margin-left: 20px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: hsl(0, 52%, 82%);
}

body>aside {
    background-color: lightgrey;
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: center;
    height: auto;
    padding: 12% 0;
    justify-content: start;
    text-align: inherit;
    font-weight: bold;
}

body>main {
    color: black;
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 3% 10%;
}

.about {
    grid-column-start: 2;
    grid-column-end: 5;
    margin-bottom: 25px;
}

body>footer {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: whitesmoke;
    text-align: center;
    padding: 2%;
    grid-template-rows: 1;
}

.footer {
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: center;
}

.contac-icons {
    display: flex;
    align-items: inherit;
    padding: 0 6.5vw;
    position: relative;
    height: auto;
    color: black;
    z-index: 2;
    list-style: none;
}

.mail {
    display: flex;
    justify-content: stretch;
}

.iconitos {
    margin-right: 10px;
    color: black;
    list-style: none;
    text-decoration: none;
}

.iconitos:hover {
    margin-right: 5px;
    color: #d65f51;
}

.nav-item {
    margin-right: 9px;
}

@media screen and (max-width: 600px) {
    body {
        grid-template-rows: 10vh 1fr 10vh;
        background-color: #E8E8E8;
    }
    nav {
        display: none;
    }
    body>aside {
        display: none;
    }
    body>footer {
        position: relative;
    }
}